---
layout: default
title: Marie Jensen
test:
    - title: Social Media Marketing
      desc: Developed initial social media plan and presence for startup brand. Build social media calendar, posts, advertising and promotions across social media platforms and blogs.Bachelor of International Business with a specialisation in international Marketing. Bachelorthesis about Social Media (User Genereated Content) in Tourism Marketing
    - title: Web Development
      desc: Developed fully functional responsive prototypes based on Business Requirements using HTML/HTML5, CSS3, JavaScript and JQuery.
    - title: Search Engine Advertisement
      desc: Researched, wrote, edited, and structured online content as well as Data collected from consumers
more:
    - title: Photography and Editing
      desc: Monitord effectiveness of SEA marketing strategies in terms of traffic and pptimise keyword use and effectiveness. Troubleshooted poor rankings and develop improvement strategies.Utilised keyword research tools to track progress and performance.
    - title: Languages
      desc: Deutsch Mothertongue, English Fluent, Bachelor and Masterstudies in english language, Espanol Used to be able to hold a conversation, now I understand most of it, can't answer more than basic sentences. Would come back easily,Bahasa can do the basic
    - title: As well as
      desc: Content Management, Data anylsis management, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
exp:
    - date: 2017
      title: Working Student at Uni
      desc: Creation of image concept for university’s website,Creation of exemplary website for departments (Typo 3),Entering of content onto new websites
exp2:
    - date: 2016-2017
      title: Marketing Assistant at Plunet
      desc: B2B interaction, Supervision of Network Channels (LinkedIn, Facebook, Twitter), Event Management, Writing and publishing of press releases (WordPress),Creation of company’s Instagram guideline
exp3:
    - date: 2016
      title: Working Student at Comtrave
      desc: Data analysis for customers profiles and booking requests
exp4:
    - date: 2015-2016
      title: Working Student at Smava
      desc: Search Engine Advertisement in Google AdWords and Bing, Creation and distribution of Facebook Campaigns, Analysis and optimization of advertisement campaigns, Target group optimization
exp5:
    - date: various
      title: other Experiences
      desc: Exchange Year Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Aupair Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Volunteer WorkDuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Work and Travel Australia Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
edu:
    - uni: Master Programm at HOST
      desc: TDS blablabla
    - uni: Bachelor Programm at HTW Berlin
      desc: International Business blablalba
    - uni: FOG
      desc: Design School

---
    <section id="about"> <!--about section-->
      <div>
        <h2> - Who am I ? - </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br> plus background in design, international business and tourism development</p>
      </div>
    </section>
<!--END of header -->
<!--skills section-->
    <section id="skills" class="skills grid-center">
      <h2>-What I can do-</h2>
      <div class="grid-spaceAround">
        {% for test in page.test %}
        <div class="col-3_sm-4_xs-12">
          <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
          <h3>{{test.title}}</h3>
          <p>{{test.desc}}</p>
        </div>
        {% endfor %}
      </div>

        <div class="grid-spaceAround">
        {% for more in page.more %}
        <div class="col-3_sm-4_xs-12">
          <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
            <h3>{{more.title}}</h3>
            <p>{{more.desc}}</p>
        </div>
          {% endfor %}
    </div>
  </section>
  <!--skills end here -->
  <!--experience section-->
  <section id="experience">
      <h2>-What I've done-</h2>
      {% for exp in page.exp %}
      <div class="grid-spaceAround">
        <div class="col-2_sm-4_xs-12">
            <h5>{{exp.date}}</h5>
        </div>
        <div class="col-3_sm-4_xs-12">
          <h4>{{exp.title}}</h4>
        </div>
          <div class="col-5_sm-4_xs-12">
          <p>{{exp.desc}}</p>
        </div>
      </div>
        {% endfor %}
      {% for exp2 in page.exp2 %}
        <div class="grid-spaceAround">
          <div class="col-2_sm-4_xs-12">
              <h5>{{exp2.date}}</h5>
          </div>
          <div class="col-3_sm-4_xs-12">
            <h4>{{exp2.title}}</h4>
          </div>
            <div class="col-5_sm-4_xs-12">
            <p>{{exp2.desc}}</p>
          </div>
        </div>
      {% endfor %}
      {% for exp3 in page.exp3 %}
        <div class="grid-spaceAround">
          <div class="col-2_sm-4_xs-12">
              <h5>{{exp3.date}}</h5>
          </div>
          <div class="col-3_sm-4_xs-12">
            <h4>{{exp3.title}}</h4>
          </div>
            <div class="col-5_sm-4_xs-12">
            <p>{{exp3.desc}}</p>
          </div>
        </div>
      {% endfor %}
      {% for exp4 in page.exp4 %}
        <div class="grid-spaceAround">
          <div class="col-2_sm-4_xs-12">
              <h5>{{exp4.date}}</h5>
          </div>
          <div class="col-3_sm-4_xs-12">
            <h4>{{exp4.title}}</h4>
          </div>
            <div class="col-5_sm-4_xs-12">
            <p>{{exp4.desc}}</p>
          </div>
        </div>
      {% endfor %}
      {% for exp5 in page.exp5 %}
        <div class="grid-spaceAround">
          <div class="col-2_sm-4_xs-12">
              <h5>{{exp5.date}}</h5>
          </div>
          <div class="col-3_sm-4_xs-12">
            <h4>{{exp5.title}}</h4>
          </div>
            <div class="col-5_sm-4_xs-12">
            <p>{{exp5.desc}}</p>
          </div>
        </div>
      {% endfor %}
  </section>
  <!--Experience end here -->
  <!--Education starts here -->
  <section id="education">
      <h2> - Education Background - </h2>
      <div class="grid-spaceAround">
        {% for edu in page.edu %}
        <div class="col-3_sm-4_xs-12">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          <h3>{{edu.uni}}</h3>
          <p>{{edu.desc}}</p>
        </div>
        {% endfor %}
</section>
<!--Education starts here -->
<!--maybe section about other experiences-->
<!--References section-->
  <section id="references">
      <div>
        <h2> - What they say about me - </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </section>
  <!--References end here-->
  <!--footersection-->
